*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
}

button{
    background: black;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
}

img{
    padding: 5px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.row{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px;
}